@font-face{
    font-family: 'Romanica';
    src: url("../fonts/romanica.ttf");
}

body {     
    background-image: url("../images/pizzaFondo.jpg");
    background-size: cover;
    font-family: 'Romanica';
    font-size: large;
}

#receta {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(232, 232, 232, .5); 
}

.pasos {
    text-align: left;
}

ul {
    list-style: none;
}

ul li::before{
    content: "\1F355";
    padding-right: 5px;
}

